header {
    width: 100%;
    background-color: $brandSecondary;
    display: flex;
    align-content: center;
    justify-content: space-around;
    h3 {
        display: flex;
        align-items: center;
        color:$white;
        font-family:  $headingFont;
        cursor: pointer;
    }
}
