.loader {
    border: 16px solid $brandSecondary;
    border-radius: 50%;
    border-top: 16px solid $brandPrimary;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 12;
}
.load-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
