$black: rgb(51,51,51);
$white: rgba(255,255,255,1);

$shadow: rgba(0, 0, 0, 0.5);
$overlay: rgba(51,51,51,0.8);
$lightOverlay: rgba(255, 255, 255, 0.3);

$brandPrimary: rgb(255, 179, 16);
$brandSecondary: rgb(43,107,176);
